body{
	font-family: Arial;
}

/*bar graphs*/
svg .bar{
 /*   fill: steelblue;*/
}

svg .bar:hover{
    fill: brown;
}

svg .axis {
	  font: 10px sans-serif;
}

svg .axis path,.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
}
/*scatter plot*/
svg .name {
    float:right;
    color:#27aae1;
}
svg .axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}

svg .axis-label{
	stroke: none;
    fill: #666666;
    font-size: 1em;
    font-family:"Arial"
}
text {
    stroke: none;
    fill: #666666;
    font-size: .8em;
    font-family:"Arial"
}
svg .label {
    fill: #414241;
}
svg .node {
    cursor:pointer;
}
svg .dot {
    opacity: .5;
    cursor: pointer;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}
 
.grid path {
    stroke-width: 0;
}
 
.axis path {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}

.dot {
    opacity: 0.6;
    stroke: transparent;
    stroke-width: 10px;  
    cursor: pointer;
}

.dot:hover {
    stroke: rgba(68, 127, 255, 0.3);
}
